<header class="text-center">
    <h1>EAT DA BURGER</h1>
</header>
<br>
<section class="container text-center">
    <img class="burgerimg" src="/assets/img/burger.png" alt="EatDaBurger">
    <br>
    <br>
    <div class="row">
        <div class="col-sm">
            Burgers to Eat:
        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm">
            Burgers Eaten:
        </div>
    </div>
</section>
<br>
<section class="ordermenu">
    <form class="create-form text-center">
        <h2><span class="text-center orderBorder">Order Here</span></h2>
        <br>
        <div class="form-group">
            <label for="ca">Enter Burger Name:</label>
            <input type="text" id="ca" name="name">
        </div>
        <button type="submit">Place Order</button>
    </form>
</section>