<header class="text-center">
    <h1>EAT DA BURGER</h1>
</header>
<br>
<section class="container text-center">
    <img class="burgerimg" src="/assets/img/burger.png" alt="EatDaBurger">
    <br>
    <br>
    <div class="row">
        <div class="col-sm">
            <h1>Burgers to Eat:</h1>
            <div>
                {{#each burgers}}
                {{#unless devour}}
                <div>{{name}}</div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="col-sm">
            <h1>Burgers Eaten:</h1>
        </div>
    </div>
</section>
<br>
<section class="ordermenu">
    <form class="create-form text-center">
        <h2><span class="text-center orderBorder">Order Here</span></h2>
        <br>
        <div class="form-group">
            <label for="createBurger">Enter Burger Name:</label>
            <input type="text" id="newBurger" name="newBurgerName">
        </div>
        <button type="submit">Place Order</button>
    </form>
</section>